* {
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    margin: 0;
    padding-top: 40px;
  }
  
  .skibidi {
    width: 100%;
    position: fixed;
    top: 0; 
    background-color: darkred;
    text-align: center;
    padding: 20px; 
    z-index: 1000; 
    color: aliceblue;
  }
  
  .sigma {
    width: 500px;
    height: 300px;
    display: block;
    margin: 30px auto; 
    margin-top: 80px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  .ohio, .a, .b {
    padding-top: 15px;
    padding-left:  15px;
    padding-right:  15px;
    padding-bottom: 0px;
    color: aliceblue;
    margin-top: 0px;
  }
  
  .a {
    margin-top: 10px;
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
  }
  
  .b {
    color: aliceblue;
    text-align: center;
  }

  .c{
    border: 5px solid aliceblue;
    height: 335px;
    width: 445px;
    align-items: left;
  }
  
  .d{
    border: 5px solid aliceblue;
    height: 335px;
    width: 445px;
    align-items: center;
  }

  .e{
    border: 5px solid aliceblue;
    height: 335px;
    width: 445px;
    align-items: right;
  }
  .f {
    color: aliceblue;
    position: relative;
    left: 175px;
  }
  .g {
    color: aliceblue;
    position: relative;
    left: 600px;
    bottom: 45px;
  }

.h{
  color: aliceblue;
  position: relative;
  left: 1075px;
  bottom: 85px;
}

.sixty {
  color: white;
  display: inline-block;
  width: 12%;
  margin: 0 1%; 
  text-align: center;
  font-size: larger;
  background-color: darkred;
  padding: 10px;
}

.sixty a {
  padding-top: 0px;
  margin-top: 0px;
  color: white;
  text-decoration: none;
}

.q {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  background-color: darkred;
  padding: 10px;
}

.q a {
  color: white;
  text-decoration: none;
}

.w {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  background-color: darkred;
  padding: 10px;
}

.w a {
  color: white;
  text-decoration: none;
}

.k {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  background-color: darkred;
  padding: 10px;
}

.k a {
  color: white;
  text-decoration: none;
}

.r {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  background-color: darkred;
  padding: 10px;
}

.r a {
  color: white;
  text-decoration: none;
}

.t {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  background-color: darkred;
  padding: 10px;
}

.t a {
  color: white;
  text-decoration: none;
}

.y {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  background-color: darkred;
  padding: 10px;
}

.y a {
  color: white;
  text-decoration: none;
}

.opa {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  background-color: darkred;
  padding: 10px;
}

.opa a {
  color: white;
  text-decoration: none;
}

.one{
  text-align: center;
  color: aliceblue;
  font-size: xx-large;
  margin-top: 75px;
}

.KL{
  background-color: black;
}

.skibid {
  width: 100%;
  text-align: left;
  color: aliceblue;
  position: absolute;
  left: 100;
  top: 200px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.skibid a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.lock {
  width: 100%;
  text-align: right;
  color: aliceblue;
  font-size: 24px;
  position: absolute;
  right: 100;
  top: 200px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.lock a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}