body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    padding-top: 60px; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkred; 
    color: aliceblue;
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    z-index: 1000;
}

.form-container {
    background-color: darkgrey;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.form-container h2 {
    text-align: center;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    background-color: #333;
    color: white;
    box-sizing: border-box; 
}

.form-group input[type="email"] {
    text-transform: lowercase;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group input[type="submit"] {
    background-color: #8B0000; 
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

.form-group input[type="submit"]:hover {
    background-color: darkred; 
}

.form-group input[type="email"]::placeholder,
.form-group input[type="text"]::placeholder,
.form-group textarea::placeholder {
    color: #bbb;
}

.HH {
    text-align: center;
    font-size: larger;
    background-color: darkred;
    padding: 20px;
    width: 100%;
}

.HH a {
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}